.post table.bordered{
    border-collapse:collapse;
}
.post table.bordered th{
    border:1px solid black;
}
.post table.bordered td{
    border:1px solid black;
}
.post table.padding4px th{
    padding:4px;
}
.post table.padding4px td{
    padding:4px;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-track{
    background:#DDD;
}
::-webkit-scrollbar-thumb{
    border-radius:6px;
    background:#BBB;
}
body{
    font-family:font_serif;
}
@font-face{
    font-family:font_sansserif;
    src:
        local('Ubuntu'),
        local('Roboto'),
        local('LiHei Pro'),
        local('Microsoft JhengHei'),
        local('微軟正黑體'),
    ;
}
@font-face{
    font-family:font_serif;
    src:
        local('AR PL UKai CN'),
        local('MingLiU'),
        local('PMingLiU')
    ;
}
@font-face{
    font-family:font_serif;
    src:
        local('AR PL UKai CN'),
        local('MingLiU'),
        local('PMingLiU')
    ;
}
@font-face{
    font-family:font_sansserif;
    unicode-range:U+00-024F;
    src:
        local('Arial'),
        local('Sans-Serif')
    ;
}
@font-face{
    font-family:font_serif;
    unicode-range:U+00-024F;
    src:
        local('Times New Roman'),
        local('Latin Modern Roman'),
        local('Georgia'),
        local('Serif')
    ;
}
@font-face{
    font-family:font_serif;
    font-style:italic;
    unicode-range:U+00-024F;
    src:
        local('Times New Roman'),
        local('Latin Modern Roman'),
        local('Georgia'),
        local('Serif')
    ;
}
a:active,a:link,a:hover,a:visited{
    color:blue;
}
div.center_align_variable_length_element_outer{
    overflow:hidden;
}
div.center_align_variable_length_element_middle{
    position:relative;
    float:left;
    left:50%;
}
div.center_align_variable_length_element_inner{
    position:relative;
    float:left;
    left:-50%;
}
.post{
    word-wrap:break-word;
}
.post a.functionbutton{
    text-decoration:none;
    color:darkgray;
}
.post a.functionbutton:hover{
    color:black;
}
textarea.textarea_comment{
    width:61%;
    border:1px solid lightgray;
    padding:4px;
    background:none;
}
.post a.title{
    text-decoration:none;
    font-weight:normal;
    font-family:font_serif;
    color:black;
}
span.tag_selected{
    border:1px solid lightgray;
    padding:4px;
    font-family:font_sansserif;
}
div.comments{
    width:61%;
    margin-bottom:8px;
    border:1px solid lightgray;
    padding:4px;
}
body>footer{
    margin:32px;
    text-align:center;
}
#blogHead{
    margin:64px 0px;
}
#div_profile{
    display:table;
    position:absolute;
    z-index:1;
    right:3%;
    top:6%;
    padding:4px;
    background:rgba(100%,100%,100%,0.9);
}
#div_img_profile{
    display:table-cell;
}
#div_profile_words{
    display:table-cell;
    padding-left:4px;
    width:120px;
    vertical-align:top;
}
#div_profile a{
    color:black;
}
#div_fixedfooter{
    /* level 0 */
    position:fixed;
    bottom:0px;
    width:100%;
}
#div_fixedfooter_left{
    /* level 1 */
    float:left;
    padding:8px;
}
#div_fixedfooter_right{
    /* level 1 */
    padding:8px;
    text-align:right;
}
#div_blog{
    /* level 0 */
    position:relative;
    overflow:hidden;
    min-width:61%;
    max-width:92%;
    width:840px;
    margin:0px auto;
    padding-left:4%;
    padding-right:4%;
}
#div_title-blog{
    /* level 1 */
    text-align:center;
    font-family:font_serif;
}
#a_title-blog{
    /* level 2 */
    text-decoration:none;
    color:black;
}
@media(max-width:480px){
    #a_title-blog{
        /* level 2 */
        font-size:24px;
    }
}
@media(min-width:480px) and (max-width:640px){
    #a_title-blog{
        /* level 2 */
        font-size:36px;
    }
}
@media(min-width:640px){
    #a_title-blog{
        /* level 2 */
        font-size:48px;
    }
}
#div_tagline{
    /* level 3 */
    font-family:font_serif;
    text-align:center;
}
@media(max-width:480px){
    #div_tagline{
        /* level 3 */
        font-size:12px;
    }
}
@media(min-width:480px) and (max-width:640px){
    #div_tagline{
        /* level 3 */
        font-size:18px;
    }
}
@media(min-width:640px){
    #div_tagline{
        /* level 3 */
        font-size:24px;
    }
}
#div_searchForTag{
    /* level 1 */
    text-align:center;
    margin-top:48px;
}
#div_searchForTag a{
    /* level 1 */
    text-decoration:none;
}
#div_selectedTags{
    display:inline-block;
}
#input_searchForTag{
    /* level 3 */
    padding:4px;
    border:1px solid lightgray;
    background:none;
}
#div_tags{
    /* level 2 */
    display:none;
    font-family:font_sansserif;
}
#div_index div.ul_index{
    /* level 2 */
    float:left;
    font-family:font_serif;
}
#div_content h1{
    /* level 1 */
    font-family:font_serif;
}
#div_content h2{
    /* level 1 */
    font-family:font_serif;
}
#div_content h3{
    /* level 1 */
    font-family:font_serif;
}
#div_content h4{
    /* level 1 */
    font-family:font_serif;
}
#div_content h5{
    /* level 1 */
    font-family:font_serif;
}
#div_content h6{
    /* level 1 */
    font-family:font_serif;
}
@media(max-width:480px){
    #div_content h1{
        /* level 1 */
        font-size:1.52em;
    }
    #div_content h2{
        /* level 1 */
        font-size:1.32em;
    }
    #div_content h3{
        /* level 1 */
        font-size:1.15em;
    }
}
@media(min-width:480px){
}
#div_content h4+div{
    margin-left:32px;
}
#div_content h5+div{
    margin-left:32px;
}
#div_content h6+div{
    margin-left:32px;
}
#div_footer{
    /* level 1 */
    margin-top:24px;
    margin-bottom:24px;
    text-align:center;
}
/*
body{
    background-color:deeppink;
}
#div_blog{
    background-color:dodgerblue;
}
#div_content{
    background-color:lawngreen;
}
.post{
    background-color:white;
}
*/
/* 2015-10-04 */
::selection{
    background:gray;
    color:white;
    text-decoration-color:white;
}
::-moz-selection{
    background:gray;
    color:white;
    text-decoration-color:white;
}
.post{
    text-align:justify;
}
